@font-face {
    font-family: 'Montserrat';
    src: url('fonts/montserrat-v14-latin-500.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Medium'), local('Montserrat-Medium'),
    url('fonts/montserrat-v14-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/montserrat-v14-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/montserrat-v14-latin-500.woff') format('woff'), /* Modern Browsers */
    url('fonts/montserrat-v14-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/montserrat-v14-latin-500.svg#Montserrat') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Overpass';
    src: url('fonts/Overpass-Regular.ttf');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
         url('fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
  }
/* html {
    width: 1920px;
}
 */
.navbar {
    height: 202px;
    background: #ffffff !important;

}
.navbar-nav {
    margin-top: 71px;
    margin-right: 146px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #7B7979;

}
.navbar-brand {
    margin-left: 225px;
    margin-top: 38px;
}
.navbar-brand span {
    margin-left: 17px;
    margin-top: 65px;
    font-family: Overpass;
    font-style: normal;
    font-weight: normal;
    font-size: 43px;
    line-height: 66px;
    color: #000000;

}
.banner {
    background: url('img/banner.png');
    height: 681px;
    display: flex;
    flex-direction: column;
    padding-top: 107.38px;
    padding-left: 242px;

}
.banner-hat {
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 61px;
color: #010101;
margin-bottom: 50.71px;
height: 121.3px;

}
.banner-content {
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 40px;
color: #7B7979;
height: 202.83px;
margin-bottom: 34.68px;
}
.banner-items {
    line-height: 30px;
    display: flex;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    color: #7B7979;
}
.b-item {
    margin-right: 105.2px;
}
.b-item img {
    margin-bottom: 60px;
}
.b-item span {
    display: inline-block;
}
.banner img {
    margin-right: 14.36px;
}
.goods {
    padding-left: 200px;
    padding-right: 200px;
}
.prod-title {
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 34px;
line-height: 41px;
color: #776F99;
margin-top: 116px;
/* margin-left: 242px; */
}
.prod-discript {
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 25px;
/* or 147% */
color: #A6A3A3;
/* margin-left: 242px; */
width: 330px;
height: 238px;
}
.prod-title1 {
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 34px;
line-height: 41px;
color: #776F99;
margin-top: 116px;
margin-left: 97px;
}
.prod-discript1 {
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 25px;
color: #A6A3A3;
width: 330px;
height: 238px;
margin-left: 74px;
}
.prod-title2 {
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 34px;
line-height: 41px;
color: #776F99;
margin-top: 116px;
}
.prod-discript2 {
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 25px;
color: #A6A3A3;
width: 330px;
height: 238px;
}
.prod-title3 {
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 34px;
line-height: 41px;
color: #776F99;
margin-top: 116px;
}
.prod-discript3{
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 25px;
color: #A6A3A3;
width: 330px;
height: 238px;
}
.our-team {
    padding-left: 200px;
    padding-right: 200px;
}
.our-team-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 63px;
    color: #776F99;
    margin-bottom: 70px;
}
.card {
    background: #FFFFFF;
    border: 1px solid #D6D4D4;
    /* box-sizing: border-box; */
    border-radius: 15px;
    margin-bottom: 70px;
}
.card-title {
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 35px;
color: #776F99;
/* margin-left: 120px; */
text-align: center;
}
.card-subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 40px;
    /* or 182% */
    color: #787777;
    /* margin-left: 130px; */
    text-align: center;
}
.card-text {
    /* width: 350px; */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 35px;
    /* or 184% */
    text-align: center;
    color: #787777;
    margin-top: 77px;
    /* margin-left: 25px; */

 }
 .card:hover {
    border: 3px solid #8587BD;
 }
.row-first {
    margin-bottom: 182px;
}
.partners-title {
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 52px;
line-height: 63px;
color: #776F99;
}
.partners-discript {
font-family: Roboto;      /* скачать шрифт*/
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 40px;
/* or 160% */
color: #767373;
width: 350px;
}
.partners {
    background: #fafafa;
    height: 874px;
    padding-top: 158px;
}
.careers-title {
text-align: center;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 52px;
line-height: 63px;
color: #776F99;
margin-top: 78px;
height: 97px;
}
.careers-discript {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 40px;
/* or 160% */
text-align: center;
color: #767373;
}
.vacancy1 {
     height: 204.43px;
    background: #A7A2C7;
    border: 1px solid #DEDBDB;
    box-sizing: border-box;
    border-radius: 10px;
    padding-top: 37.35px;
    padding-left: 198.56px;
}
.vac-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */
     color: #FFFFFF;
}
.vac-discript1 {
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
color: #FFFFFF;
margin-top: 16.71px;
}
.vac-discript2 {
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
color: #FFFFFF;
margin-top: 20.64px;
}
.read-more {
    background: #FFFFFF;
    border-radius: 300px;
    width: 255px;
    height: 71.8px;
    margin-left: 1083px;
    vertical-align: middle;
}
.contact-us {
    height: 797px;
    padding-left: 200px;
}
.contact-us-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 63px;
    color: #776F99;
    margin-bottom: 40px;
}
.contact-us-discript {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 38px;
    /* or 173% */
    color: #666363;
}
.contact-input-wrapper {
    background: #FFFFFF;
    border: 1px solid #A2A1C2;
    border-radius: 10px;
    width: 526px;
    height: 593px;
    padding-left: 38px;
    padding-top: 54px;
    padding-right: 39px;
}

a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
.btn:hover {
outline: 0!important;
outline-color: transparent!important;
outline-width: 0!important;
outline-style: none!important;
box-shadow: 0 0 0 0 rgba(0,123,255,0)!important;
background: linear-gradient(99.96deg, #9185BE 48.46%, #A299C8 100.43%), linear-gradient(0deg, #F4F4F4, #F4F4F4), linear-gradient(0deg, #F4F4F4, #F4F4F4), #F4F4F4 !important;
border-radius: 7px !important;
border-color: #8B8FBA !important;
}
input, textarea,
input:active, textarea:active {
    outline: 0!important;
    outline-color: transparent!important;
    outline-width: 0!important;
    outline-style: none!important;
    box-shadow: 0 0 0 0 rgba(0,123,255,0)!important;
    border-radius: 7px !important;
    border-color: #8B8FBA !important;
}
.contact-input-name {
    background: linear-gradient(0deg, #F4F4F4, #F4F4F4), linear-gradient(0deg, #F4F4F4, #F4F4F4), linear-gradient(0deg, #F4F4F4, #F4F4F4), #F4F4F4 !important;
    border-radius: 7px !important;
    font-family: Montserrat !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 18px !important;
    line-height: 38px !important;
    /* identical to box height, or 211% */
    color: #A4A2A2 !important;
    width: 449px;
    height: 81px;
}
.contact-input-email {
    background: linear-gradient(0deg, #F4F4F4, #F4F4F4), linear-gradient(0deg, #F4F4F4, #F4F4F4), linear-gradient(0deg, #F4F4F4, #F4F4F4), #F4F4F4 !important;
    border-radius: 7px !important;
    font-family: Montserrat !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 18px !important;
    line-height: 38px !important;
    /* identical to box height, or 211% */
    color: #A4A2A2 !important;
    width: 449px;
    height: 81px;
}
.contact-input-message {
    background: linear-gradient(0deg, #F4F4F4, #F4F4F4), linear-gradient(0deg, #F4F4F4, #F4F4F4), linear-gradient(0deg, #F4F4F4, #F4F4F4), #F4F4F4 !important;
    border-radius: 7px !important;
    font-family: Montserrat !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 18px !important;
    line-height: 38px !important;
    /* identical to box height, or 211% */
    color: #A4A2A2 !important;
    width: 449px;
    height: 185px;
    margin-bottom: 22px;
}
.contact-input-button {
    width: 449px;
    height: 81px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 38px;
    /* identical to box height, or 211% */
    color: #FFFFFF;
    background: linear-gradient(99.96deg, #9185BE 48.46%, #A299C8 100.43%), linear-gradient(0deg, #F4F4F4, #F4F4F4), linear-gradient(0deg, #F4F4F4, #F4F4F4), #F4F4F4;
    border-radius: 7px;
    border-color: #8B8FBA;

}
.nav-footer {
    color: #FFFBFB !important;
}
.copyright {
    height: 104px;
    background: linear-gradient(90deg, #968BB6 50%, #B0A6CD 85.63%);
    padding-top: 34px;
}
.created-by {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 262px;
}
.rights-reserved {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */
    color: rgba(255, 255, 255, 0.5);
    margin-left: 690px;
 }
 .snark {
     background: url('img/snark-trans.png') no-repeat;
 }
 .snark:hover {
    background-image: url('img/snark.png');
 }
 .ford {
     background: url('img/ford-trans.png') no-repeat;
 }
 .ford:hover {
     background-image: url('img/ford.png');
 }
 .lime {
     background: url('img/lime-trans.png') no-repeat;
 }
 .lime:hover {
     background-image: url('img/lime.png');
 }
 .apple {
     background: url('img/apple-trans.png') no-repeat;
 }
 .apple:hover {
    background-image: url('img/apple.png');
 }
 .lime2 {
     background: url('img/lime-trans.png') no-repeat;
 }
 .lime2:hover {
     background-image: url('img/lime.png');
 }
 .ford2 {
     background: url('img/ford-trans.png') no-repeat;
 }
 .ford2:hover {
     background-image: url('img/ford.png');
 }
 .snark2 {
     background: url('img/snark-trans.png') no-repeat;
 }
 .snark2:hover {
     background-image: url('img/snark.png');
 }
 hr {
     margin: 0;
     background: rgba(255, 255, 255, 0.3);
 }
 .our-project {
     padding-left: 200px;
 }
 .proj-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 63px;
    color: #776F99;
}
.proj-card {
    background: #FFFFFF;
    border: 3px solid #B1B3DF;
    /* box-sizing: border-box; */
    border-radius: 15px;
    /* margin-right: 59px; */
    /* width: 672px; */
    /* height: 351px; */
}
.proj-card:hover {
    background: linear-gradient(116.98deg, #8B8FBA 39.5%, #B9BDDB 112.77%);
}
.proj-card:hover .proj-card-logo {
    background-image: url('img/project-logo-white.png');
}
.proj-card:hover .proj-card-title {
color: #FFFFFF;
}
.proj-card:hover .proj-card-date {
    color: #FFFFFF;
}
.proj-card:hover .proj-card-prop {
    color: #FFFFFF;
}
.proj-card:hover .proj-card-discript {
    color: rgba(255, 255, 255, 0.58);
}
.proj-card:hover .proj-card-button {
    color: #FFFFFF;
}
.proj-card-logo {
    /* margin-left: 46px; */
    margin-top: 39.56px;
    width: 55px;
    height: 54px;
    background: url('img/project-logo.png');
}
.proj-card-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #776F99;
    /* margin-left: 34px; */
    margin-top: 39.56px;
}
.proj-card-date {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 35px;
    /* or 184% */
    color: #000000;
    /* margin-left: 137px; */
    margin-right: 29px;
}
.proj-card-discript {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 35px;
    /* or 184% */
    color: #787777;
    padding-left: 5%;
    /* margin-left: 46px;
    margin-right: 120px;
    margin-top: 20px; */
}
.first-line-wrapper {
    display: flex;
    justify-content: space-evenly;

}
.second-line-wrapper {
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 35px;
    /* or 184% */
    color: #000000;
    justify-content: space-evenly;
}
.proj-card-button {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 35px;
    /* or 184% */
    color: #838EC8;
    text-decoration: underline;
    margin-left: 46px;
    margin-top: 22px;
}
.networks {
    width: 45.76px;
    height: 45.76px;
}
.social {
    text-align: center;
    margin-top: 50px;
}
.card-photo {
    text-align: center;
    margin-top: 50px;
}
.card-body-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.read-more-button {
    background: linear-gradient(210.74deg, #A8ACD0 33.86%, rgba(166, 157, 197, 0.63) 76.33%);
    border-radius: 300px;
    width: 261px;
    height: 74px;
    text-align: center;
    padding-top: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 35px;
    /* or 184% */
    color: #FFFFFF;
    margin-bottom: 101px;
}
.read-more-button:hover {
    background: linear-gradient(142.85deg, #A8ACD0 36.38%, rgba(166, 157, 197, 0.63) 73.54%);
}
.partners {
    margin-bottom: 189px;
    padding-left: 300px;
    padding-right: 250px;
}
.contact-us-phone {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 38px;
    /* identical to box height, or 173% */
    color: #000000;
    margin-top: 42px;
    margin-right: 90px;
}
.contact-us-email {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 38px;
    /* identical to box height, or 173% */
    color: #000000;
    margin-top: 42px;
}
.contact-info-wrapper {
    display: flex;
}
.tech-background {
    background: linear-gradient(130.32deg, #8B8FBA 12.93%, #A799BB 64.62%);
    height: 881px;
    padding-left: 270px;
    padding-top: 81px;
}
.tech-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 48px;
 }
 .tech-subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 60px;
    /* identical to box height, or 240% */
     color: #FFFFFF;
 }
 .tech-content {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 60px;
    /* identical to box height, or 240% */
    color: #FFFFFF;
    opacity: 0.5;
    text-align: center;
    height: 101px;
    padding-top: 22px;
 }
 .tech-content:hover {
     background: rgba(242, 241, 243, 0.3);
     border-radius: 15px;
 }
 .tech-content-wrapper {
    background: #FFFFFF;
    /* opacity: 0.1; */
    background: rgba(242, 241, 243, 0.1);
    border: 1px solid rgba(242, 241, 243, 0.1);
    box-sizing: border-box;
    border-radius: 15px;
 }
 .technologies {
     margin-bottom: 81px;
 }
 .navbar-logo {
     background: url('img/logo.png') no-repeat;
     width: 117px;
     height: 117px;
     margin-left: 225px;
 }
 .navbar-brand {
     margin-left: 0;
 }
 @media (max-width: 575.98px) {
     .banner {
         background: url('img/banner-sm.png') no-repeat;
     }
     .navbar {
         max-width: 575.98px;
     }
     .navbar-logo {
         background-image: url('img/logo-sm.png');
         margin-left: 25px;
         margin-top: 27px;
         width: 48px;
         height: 48px;
     }
     .navbar-brand span {
        font-size: 20px;
        line-height: 31px;
        margin-top: 0;
     }
     /* .card {
         flex-direction: row;
     } */
     /* .card-body-wrap {
         flex-direction: row;
     } */
     .card-title {
         white-space: nowrap;
     }
     .card-subtitle {
         white-space: nowrap;
     }
     .our-team-title {
       white-space: nowrap;
   }

    
     
 }